{
    "host": "localhost",
    "port": 10000,
    "ident": "splunk-logger", 
    "secret": "",
    "channels": [
        "amun.events",
        "dionaea.connections",
        "dionaea.capture",
        "glastopf.events",
        "beeswarm.hive",
        "kippo.sessions",
        "conpot.events",
        "snort.alerts",
        "wordpot.events",
        "shockpot.events",
        "p0f.events"
    ],
    "log_file": "mhn-splunk-log.out"
}
